<% for order in orders %>
  <%= order.name %>
  <input type="submit" value="Finalize"></input>
  <ul>
    <% for meal in order.meals %>
      <li>
        <%= meal.name %>
      </li>
    <% end %>
    <li>
      <%= form_for([order, @meal]) do |f| %>
        <%= render partial: 'errors', locals: { object: @meal } %>

        <div class="field" style="display: inline-block;">
          <%= f.label :name %><br>
          <%= f.text_field :name %>
        </div>
        <%= f.submit %>
      <% end %>
    </li>
  </ul>
<% end %>
