<!DOCTYPE html>
<html>
<head>
  <title>Assignment</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <% if user_signed_in? %>
    <script type="text/javascript">
      window.appCurrentUserEmail = "<%= j current_user.email %>";
    </script>
  <% end %>
</head>
<body ng-app="assignment" ng-controller="Main">
  <div class="navbar navbar-static-top">
    <div class="container">
      <ul class="nav nav-pills pull-right">
        <% if user_signed_in? %>
          <li>
            <%= link_to('Sign out', destroy_user_session_path, :method => :delete) %>
          </li>
        <% else %>
          <li class="active">
            <%= link_to('Sign in', new_user_session_path) %>
          </li>
        <% end %>
      </ul>
      <ul class="nav nav-tabs">
        <li ng-repeat="category in categories track by $index" ng-class="{active:$index==activeTab}" class="presentation">
          <a href="{{category.link}}" class="btn">
            {{category.name}}
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
